<div class="d-flex justify-content-end mb-3">
  <button *ngIf="isAdmin" class="btn btn-secondary me-2" (click)="addNewDish()">
    <i class="bi bi-plus-square"></i> Add
  </button>
  <button class="btn btn-danger" (click)="logOut()">Logout</button>
</div>


<table class ="table  table-bordered table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dish of dishes; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ dish.name }}</td>
            <td>{{ dish.description }}</td>
            <td>{{ dish.quantity }}</td>
            <td *ngIf="(isAdmin)"><button class="btn btn-sm btn-outline-primary" (click)="edit(dish)"><i class="bi bi-pencil-square"></i></button></td>
            <td *ngIf="(isAdmin)"><button class="btn btn-sm btn-outline-primary" (click)="delete(dish)"><i class="bi bi-trash text-danger"></i></button></td>
        </tr>
    </tbody>
    

</table>
<br/>
<footer class="text-center mt-5">
  <p>&copy; 2025 Dish App. All rights reserved by Proton and Electron.</p>
</footer>